h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(168, 107, 228, 0.665);
}
.container {
  max-width: 800px;
  margin: 50px auto;
}
.calculator {
  margin: 5px auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .calculator-el {
      padding: 2px;
      /* margin: 2px; */
      display: flex;
      justify-content: center;
      align-items: center;
      
      label {
          font-family: "Courier New", Courier, monospace;
          display: inline-block;
          vertical-align: top;
          border: 1px solid #cccccc;
          background-color: rgba(168, 107, 228, 0.665);
          color: #185b88;
          line-height: 30px;
          height: 30px;
          border-radius: 4px;
          box-sizing: border-box;
      }
      input {
          font-family: "Courier New", Courier, monospace;
          display: inline-block;
          width: 100%;
          vertical-align: top;
          border: 1px solid #cccccc;
          &:focus {
              border: none;
              border-radius: 5px;
          }
      } 
  }
}
.btn {
  border: none;
}
.btn-turn {
  border-radius: 50%;
  background-color: rebeccapurple;
  border: none;
  color: rgb(242, 221, 221);
  &:active {
      background-color: #185b88;
  }
}
